<!DOCTYPE html>
<!-- Copyright © 2020, SAS Institute Inc., Cary, NC, USA.  All Rights Reserved. -->
<!-- SPDX-License-Identifier: Apache-2.0 -->
<html>
<head><title>Sample Connector</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="utf-8">
    <script src="/javascript/chat.js"></script>
</head>
<body>
<div class="mainContent">
    <h1 class="mainTitle">Sample Connector</h1>
    <div class="chatContent" id="chatContent"></div>
    <div class="inputContent">
        <input class="userInputField" id="userInputField" placeholder="Enter a bot request">
        <input class="sendButton" id="sendButton" type="button" value="Go">
    </div>
</div>
</body>
</html>