body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.mainContent {
    height: calc(100% - 3rem);
    border: 1px solid #b0b8c3;
    box-shadow: 0 0 .25rem #b0b8c3;
    max-width: 45rem;
    margin: 0 auto 1.5rem auto;
}

.mainTitle {
    text-align: center;
}

.chatContent{
    padding: 0.5rem;
    height: calc(100% - 8rem);
    overflow-y: auto;
}

.inputContent{
    padding: 0.5rem;
}

.userInputField{
    width: calc(100% - 3rem);
}

.userInput span {
    padding: 0.5rem;
    border-radius: 0.75rem 0 0.75rem 0.75rem;
    background-color: rgba(51, 163, 255, 0.1);
    color: rgb(42, 48, 55);
    border: 1px solid rgba(51, 163, 255, 0.5);
}

.botResponse{
    max-width: 75%;
}

.botResponse span {
    padding: 0.5rem;
    border-radius: 0 0.75rem 0.75rem 0.75rem;
    background-color: rgba(176, 184, 195, 0.1);
    color: rgb(42, 48, 55);
    border: 1px solid #b0b8c3;
}

.botResponse.html {
    padding: 0.5rem;
    border-radius: 0 0.75rem 0.75rem 0.75rem;
    background-color: rgba(176, 184, 195, 0.1);
    color: rgb(42, 48, 55);
    border: 1px solid #b0b8c3;
}

.chatRow {
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    min-height: auto;
    min-width: auto;
    margin: 0.5rem 0;
}

.chatRow.text {
    display: flex;
}

.chatRow.userInput {
    justify-content: flex-end;
}

.chatRow svg{
    width: 15rem;
    height: 15rem;
}

.chatButtons input[type="button"]:not(:first-child) {
    margin-left: 10px;
}